{% extends "_base.html" %}

{% block title %}New Tender{% endblock title %}

{% block content %}
<h1>New Tender</h1>
<form action="/new-tender/" method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class="proposal-container container" draggable="true"
        ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)" id="proposal">
        <h2>Proposal</h2>
        {{ form.title.errors }}
        {{ form.title.label }}
        {{ form.title }}
        <br>
        {{ form.proposal_description.errors }}
        {{ form.proposal_description.label }}
        {{ form.proposal_description }}
        <br>
        {{ form.proposal_date.errors }}
        {{ form.proposal_date.label }}
        <!-- {{ form.proposal_date }} -->
        <input type="date" name="proposal_date" id="proposal_date"
            value="{{ form.proposal_date.value }}">
    </div>

    <div class="contractor-container container" draggable="true"
        ondragstart="drag(event)" id="contractor">
        <h2>Contractor Details</h2>
        {{ form.contractor_company_name.errors }}
        {{ form.contractor_company_name.label }}
        {{ form.contractor_company_name }}
        <br>
        {{ form.contractor_name.errors }}
        {{ form.contractor_name.label }}
        {{ form.contractor_name }}
        <br>
        {{ form.contractor_email.errors }}
        {{ form.contractor_email.label }}
        {{ form.contractor_email }}
        <br>
        {{ form.contractor_phone.errors }}
        {{ form.contractor_phone.label }}
        {{ form.contractor_phone }}
    </div>
    <div class="client-container container" id="client">
        <h2>Client Details</h2>
        {{ form.client_company_name.errors }}
        {{ form.client_company_name.label }}
        {{ form.client_company_name }}
        <br>
        {{ form.client_name.errors }}
        {{ form.client_name.label }}
        {{ form.client_name }}
        <br>
        {{ form.client_email.errors }}
        {{ form.client_email.label }}
        {{ form.client_email }}
        <br>
        {{ form.client_phone.errors }}
        {{ form.client_phone.label }}
        {{ form.client_phone }}
    </div>
    <div class="finance-container container" id="finance">
        <h2>Financial Details</h2>
        {{ form.finance_amount.errors }}
        {{ form.finance_amount.label }}
        {{ form.finance_amount }}
        <br>
        {{ form.finance_currency.errors }}
        {{ form.finance_currency.label }}
        {{ form.finance_currency }}
    </div>
    <div class="planning-container container" id="planning">
        <h2>Planning Details</h2>
        {{ form.planning_phase1_date.errors }}
        {{ form.planning_phase1_date.label }}
        <input type="date" name="planning_phase1_date" id="planning_phase1_date"
            value="{{ form.planning_phase1_date.value }}">
        <br>
        {{ form.planning_phase1_payment.errors }}
        {{ form.planning_phase1_payment.label }}
        {{ form.planning_phase1_payment }}
        <br>
        {{ form.planning_phase2_date.errors }}
        {{ form.planning_phase2_date.label }}
        <input type="date" name="planning_phase2_date" id="planning_phase2_date"
            value="{{ form.planning_phase2_date.value }}">
        <br>
        {{ form.planning_phase2_payment.errors }}
        {{ form.planning_phase2_payment.label }}
        {{ form.planning_phase2_payment }}
        <br>
        {{ form.planning_final_payment.errors }}
        {{ form.planning_final_payment.label }}
        {{ form.planning_final_payment }}
        <br>
        {{ form.planning_final_date.errors }}
        {{ form.planning_final_date.label }}
        <input type="date" name="planning_final_date" id="planning_final_date"
            value="{{ form.planning_final_date.value }}">
    </div>
    <div class="terms-container container" id="terms">
        <h2>Terms</h2>
        {{ form.terms_and_conditions.errors }}
        {{ form.terms_and_conditions.label }}
        {{ form.terms_and_conditions }}
    </div>
    <button type="submit">Create</button>
</form>
{% endblock content %}

<script>
    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
</script>
